# OS
.DS_Store

# IDEA
*.iml
.idea/

# Eclipse
.project
.settings/

# Rust/Cargo
/target

# Generated
scalapb/scalapb.proto
core/src/protobuf/*
backend/src/protobuf/*

# WhatsApp databases
backend/resources/test/*/databases/*

# Development
#/_build
#/_data
TODO.md

# Application
#/log
#application.conf

*.log
